<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexPage.css') }}">
</head>
<body>
    
    <div class="content">

        <div class="container">
            <div class="title">FLIPKART REVIEW SCRAPER</div>
        </div>

        <div class="box">
            <form action="/review" method="POST">
                <input type="checkbox" id="check">
                <div class="search-box">
                    <input type="text" placeholder="Search here..." name="content" id="content">
                    <label for="check" class="icon">
                        <i class="fas fa-search"></i>
                    </label>
                </div>
            </form>
        </div>

    </div>

</body>
</html>
